#!/usr/bin/env nextflow

// Image is called specifically for this directory structure, susceptible of change in the future
cleanup = false

profiles {
	cluster {
		workDir = '/data_store/sergio/nf_work'
		singularity.runOptions = '-B /data_store'
		singularity.enabled = true
		process.container = './GermlineSingularity/Variant_Calling_def.sif'
		params{BBDD = '/data_store'}

	process {
		withLabel: big_mem {

  		executor = 'slurm'
   		memory = 64.GB
     	time = 150.h
     	clusterOptions = '-N 1 -n 8 --tasks-per-node=8 --partition=batch --account=sergio --output=/input/sergio/log/log-%j.o --error=/input/sergio/log/log-%j.e'
   		maxForks = 1

    	}

    withLabel: vfiltering {

 	   	executor = 'slurm'
    	memory = 32.GB
    	time = 100.h
      clusterOptions = '-N 1 -n 4 --tasks-per-node=4 --partition=batch --account=sergio --output=/input/sergio/log/log-%j.o --error=/input/sergio/log/log-%j.e'
      maxForks = 2

			}
		}
	}
	standard {

	      singularity.runOptions = '-B /media,/srv'
	      singularity.enabled = true
	      process.container = './GermlineSingularity/Variant_Calling_def.sif'
	      params{BBDD = '/media/bioinfo/Seagate_Expansion_Drive'}
	      
	      }

	server {

		    singularity.runOptions = '-B /media,/srv'
        singularity.enabled = true
	      process.container = '/srv/shiny-server/Homepage/Scripts/GermlineSingularity/Variant_Calling_def.sif'
	      params{BBDD = '/home/sergio'}

		}

}


params{
  
  // Params for debugging -----------------------

  skipMain = false
  dev = false
  number_of_inputs = 4

}

params {

    //General params---------------------------
    help = false

    working_dir = "${baseDir}"

    indir = "data"
    outdir = "my-results"

    //scripts_dir = "scripts" //<- currently not using modules
 
    //Setting Directories---------------------


    BBDD_dir = "$BBDD/DataBases/Homo_sapiens"
    GRCh37_dir = "${params.BBDD_dir}/Ensembl/GRCh37/Sequence"
    GRCh38_dir = "${params.BBDD_dir}/NCBI/GRCh38/Sequence"
    threads = 8
    memory = "32.G"

    dbSNP_dir = "$BBDD/DataBases/dbSNP"

}

params {
  
  //Quality check params //--------------------------------------------------------

  java_mem = '4G'

  tagFastQC = false
  tagBam = false
}

params {

  // Parameters for trimming process. //--------------------------------------------------------

    // Are reads paired or single end
    //Default:
    paired = true 

    if(params.paired){ //We currently have two methods to select our data inputs
        reads = "${params.indir}/*_R{1,2}_*.fastq*"
    }else{reads = "${params.indir}/*.csv"}
 
   adapters = 'NO_FILE'

   minlen = 20
   minqual = 20

}

params {

  // Parameters for Mapping //--------------------------------------------------------

    // Defaults:
    aln = "bwa"
    prefix = "out" //prefix for output file
    platform = "ILLUMINA"
    genome = "GRCh37"
    //RG = ''
    indexRef = ''
    region_intervals = 'NO_FILE'
    GVCFmode = 'true'

    if(params.genome == "GRCh37"){ //--------------------------------------------------------
      if(params.aln == "bwa"){
          indexRef = "${params.GRCh37_dir}/BWAIndex/genome.fa"
      }else if(params.aln == "bowtie2"){
          indexRef = "${params.GRCh37_dir}/Bowtie2Index/genome"
      }

      seqRef = "${params.GRCh37_dir}/WholeGenomeFasta/genome.fa"

    }else if(params.genome == "GRCh38"){ //--------------------------------------------------------

      if(params.aln == "bwa"){
          indexRef = "${params.GRCh38_dir}/BWAIndex/genome.fa"
      }else if(params.aln == "bowtie2"){
          indexRef = "${params.GRCh38_dir}/Bowtie2Index/genome"
      }

      seqRef = "${params.GRCh38_dir}/WholeGenomeFasta/genome.fa"


    }else{
    /* RG is now declared in main.
    if(params.aln == "bwa"){
          
          //RG = "@RG\\tID:${params.prefix}\\tSM:${params.prefix}\\tPL:${params.platform}"
          
      }else if(params.aln == "bowtie2"){
          
          //RG = " --rg-id ${params.prefix} --rg SM:${params.prefix} --rg PL:${params.platform}"
      }*/

    seqRef = "${params.genome}"    
    indexRef = "${params.genome}"

    }
    mappingOptions = ""
    remove_duplicates = false
    mapping_intervals = "NO_FILE"

}

params {
  
  //Parameters for Recalibration //--------------------------------------------------------
  //Default:
  dbSNP = ''

if(params.genome == "GRCh38" || params.genome == "GRCh37"){

  dbSNP ="${params.dbSNP_dir}/${params.genome}/common_all_20180418.vcf"

  }else{

      dbSNP = 'NO_FILE'
      dbSNP_index = 'NO_FILE'
 }
}

params {
  
  //Parameters for Variant calling //--------------------------------------------------------
  //Defaults:

  skip_variant_calling = true
  common_id = "*"

  VCF_files = "${params.outdir}/raw_variant_calling_files/${params.common_id}.{vcf,vcf.idx}"

  vc = "freebayes"
  vcOpts = ""
  rmDups_GATK = ""
  ploidy = 'no'
  min_alt_fraction = ''

  if(params.vc == "gatk"){
    if(params.remove_duplicates == false){
      rmDups_GATK = "--disable-read-filter NotDuplicateReadFilter"
    }
  }

}

params {
  
  //Parameters for Project_NF1

  position_correction = 'default'
  exon_annotation = ''


}
